body{
	background-color: #E4EFF3;
}
/*.wrapper{
	width: 1024px;
	margin: 0 auto;
	border: 1px solid black;
}*/

/*.navbar{
	background-color: #f3e9f1;
}*/
main{
	min-height: 800px;
}
.navbar, footer{
	background-color:  background-image: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
    background-image: linear-gradient(#e66465, #9198e5);
    background-image: linear-gradient(#e66465, #9198e5);
}
footer a, p{
	text-decoration: none;
	color: black;
	font-family: 'Dancing Script', cursive;
	font-size:1.6rem;
}
.home-logo{
	border-radius: 5px;
	 -webkit-box-shadow: 0 0 21px -8px rgba(0, 0, 0, .5);
            box-shadow: 0 0 21px -8px rgba(0, 0, 0, .5);

        -ms-box-shadow: 0 0 21px -8px rgba(0, 0, 0, .5);
         -o-box-shadow: 0 0 21px -8px rgba(0, 0, 0, .5);
}