*{
box-sizing:border-box;	
margin:0;
padding: 0;
}


body{
	background-color: #E4EFF3;
}

h1{
	font-family: 'Dancing Script', cursive;
	font-size:2rem;
	text-align: center;
	margin:0 auto;
	padding-top: 20px;

}

main{
	
	min-height: 800px;
	margin:0 auto;
	padding-top:10px;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}
.navbar, footer, .btn-primary{
	background-color:  background-image: -webkit-gradient(linear, left top, left bottom, from(#e66465), to(#9198e5));
    background-image: linear-gradient(#e66465, #9198e5);
    background-image: linear-gradient(#e66465, #9198e5);
}
.navbar-nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card{
	margin: 3rem;
	background-color: #f3eaf3;
}
.card-title{
	text-align: center;
}
.details{
	margin-left: 20px;
	margin-bottom: 20px;
}
footer a, p{
	text-decoration: none;
	color: black;
	font-family: 'Dancing Script', cursive;
	font-size:1.8rem;
}
a{
	color:black;
	text-decoration:none;
}
.home-logo{
	border-radius: 5px;
	 -webkit-box-shadow: 0 0 21px -8px rgba(0, 0, 0, .5);
            box-shadow: 0 0 21px -8px rgba(0, 0, 0, .5);

        -ms-box-shadow: 0 0 21px -8px rgba(0, 0, 0, .5);
         -o-box-shadow: 0 0 21px -8px rgba(0, 0, 0, .5);
}

table .scope{
	color:black;
}
.dropdown-item a{
	color: #c6a7dc !important;
}



